body{
    background-color: #F8F9FA;
}
div.login>img{
width: 20%;
}
div.login{
    margin-top: 5%;
    text-align: center;
}
div.login>h3{
    font-size: 100%;
}
div.login>h1{
    font-size: 150%;
}
div.login>button{
    background-color: #0D6EFD;
    border-color: #0D6EFD;
    color: white;
}